<!DOCTYPE html>
<html>
<head>
  <title>FinanceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='center-align'><h2>Budget Your Finances</h2></div>
<%= yield %>

</body>
</html>
